/* here you can put your own css to customize and override the theme */
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 26px;
}

.map-left{
    margin-top: 110px;
    width: 42%;
}

.m-bottom{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #F3F3F3;
    padding: 10px 0px;
    border:1px solid #E3E3E3;
    border-radius: 4px !important;
}

.flex-row{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #E3E3E3;
    margin-bottom: 10px;
}

.flex1-row{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}

.btnz {
    display: inline-block;
    padding: 3px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #E3E3E3;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px !important;
    margin: 10px;
}
.btnz-info {
    color: #fff;
    background-color: #00C0C2;
    border-color: #00C0C2;
}

.btnz-black {
    color: #fff;
    background-color: #0D8BBD;
    border-color: #0D8BBD;
    width: 100%;
    padding: 8px;
    margin: 0px 8px;
    border-radius: 4px !important;
}

.btnz-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.page-container{
    margin-top: 80px !important;
}

.page-sidebar{
    top:80px !important;
}
.navbar-brand{
    width:auto !important;
    padding: 20px 20px !important;
}
.dropdown-toggle{
    margin: 25px!important;
}

.header .navbar-nav .dropdown.open .dropdown-toggle{
    background-color: rgba(243,243,243,0.5)!important;
}
.navbar-nav>.open>a{
    background-color: rgba(243,243,243,0.5)!important;
}

.theme-panel > .toggler{
    background-color: rgba(255, 255, 255, 0);
}